<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="lototskyi_contactmessages" frontName="contact-messages">
            <module name="Lototskyi_ContactMessages"/>
        </route>
    </router>
</config>